@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    @apply font-sans;
}

/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}





@plugin "daisyui/theme" {
  name: "event";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.006 264.531);
  --color-base-content: oklch(21% 0.034 264.665);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(55% 0.013 58.071);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(76% 0.233 130.85);
  --color-accent-content: oklch(96% 0.015 12.422);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(53% 0.157 131.589);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}





/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}
